<h2>Create Movie</h2>

<form action="/movies/:movie/createreview" method="post" name="createReview">
  Title: <input type="text" name="title"><br>
  Content: <input type="text" name="content"><br>
  <input type="submit" value="Create Review!">
</form>
