<h2>Create Movie</h2>

<form action="/createmovie" method="post" name="createMovie">
  Title: <input type="text" name="title"><br>
  Poster: <input type="file" name="poster"><br>
  Director: <input type="text" name="director"><br>
  Release Date: <input type="text" name="release"><br>
  Genre: <input type="text" name="genre"><br>
  <input type="submit" value="Create Movie!">
</form>
