<p>Welcome to the Nolan Wiki.</p>
<p>The free online reviewing platform for all films directed by Christopher Nolan. Whether you just want to find a good movie to watch or if you have just finished one and want to share an opinion, this is the place to be! </p> 
<p>Jump right in by going to the Film page, where you can find all his movies and start exploring!</p> 
<p>Though keep in mind that if you want to add your own review, you must be a registered user of the wiki. Becoming one is as simple as clicking the register button on the nevigation bar.</p> 
<p>The overhead menu has everything you would need to navigate the wiki, so nothing is holding you back!</p> 
<p>Have fun!</p>

<img src="FilmPH.png" style="display:block; width:80%; margin-left:auto; margin-right:auto;">

<div id="content" style=" width:100%; float:left;">
	<%= @info %>
</div>
<div id="content" style=" width:100%; float:left;">
	
</div>


