<h1 style="text-align:center">User</h1>
<div class="card">
	<% if @Userz %>
		<div class="image">
			<form action="/user/:uzer" method="post">
			<label for="file-input">
	   			<img src="/user.jpg" width=100%>
	   		</label>
	   		<input id="file-input" type="file" accept="image/*" name="picture_name">
	   		<input type="submit">
	   				</form>

		</div>
		<div class="profile">
		<h2> <%= @Userz.username %></h2>
		<h3>Created - <%= @Userz.created_at %></h3>
		<h4>Last Updated - <%= @Userz.updated_at %></h4>
		<h5>Edit Status - <%= @Userz.edit %></h5>
	</div>
</div>
<% end %>
